body {
    background-color: rgb(247, 235, 220);
    padding-left: 20px;
    }
.container {
    width: 40%;
    display: flex;
    justify-content: center;
    border: 1px solid burlywood;
    background-color: #fff;
}
#block-1 {
    width: 50px;
    height: 30px;
    border: 1px solid #000;
}
#block-2 {
    margin: 20px;
    width: 50px;
    height: 30px;
    background-color: rgb(197, 196, 196);

}
.text-1 {
    width: 400px;
        display: inline-block;
        text-align: justify;
}
.text-2 {
    width: 400px;
        display: inline-block;
        border-left: 3px solid blue;
        border-left-style: dotted;
        padding: 0 0 0 15px;
        text-align: justify;
}

q {
font-size: 15px;
}
.h1 {
    color: rgb(15, 177, 15);
    font-style: bold;
    font-size: 30px;
}
.h2 {
    color: rgb(68, 92, 48);
    font-style: bold;
    font-size: 20px;
}
span {
    font-size: 17px;
}
ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}
.text-3 {
    width: 400px;
        display: inline-block;
        color: orangered;
        background-color: black;
        border: 3px solid red;
        padding: 20px;
        margin-bottom: 20px;
        text-align: justify;

        
}
.containerBox {
    display: flex;
    flex-direction: column;
    }

.box {
    margin: 0;
}
.scroll-box {
    margin: 60px;
    background-color: beige;
    border-top: 5px double green;
    border-bottom: 5px double green;
    color: darkgoldenrod;
    text-align: justify;
    padding-left: 17px;
    padding-right: 17px;
    font-family: sans-serif;
    font-size: 14px;
    overflow-y: scroll;
    width: 400px;
    height: 80px;
    text-indent: 15px;
    letter-spacing: 2px;
}

.container_9 {
    width: 50%;
    background-color: white;
    border-left: 2px solid rgb(218, 215, 215);
    padding: 20px;
    margin-left: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    color: #5c5b5b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    background-color: rgb(236, 236, 230);
    border: 1px solid rgb(212, 210, 210);
    border-radius: 2px;
    padding: 10px;

}
.bem {
    color: #5c5b5b; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    background-color: rgb(236, 236, 230);
    border: 1px solid rgb(212, 210, 210);
    border-radius: 2px;
    padding: 5px;
}
.bem {
    display: inline-block;
}
.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.container_10 {
    width: 50%;
    background-color: white;
    padding: 20px;
    margin: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(141, 141, 139);
}
.chart {
    display: inline-block;
    background-color: #f8f7f7;
    color: #5c5b5b; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8f7f7;
    padding: 5px;
}
.code {
    display: flexbox;
    width: 100%;
    
    color: #5c5b5b; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8f7f7;
    text-align: justify;
    padding: 0;
    margin: 0;
}
.scrollCode {
    width: 65%;
    background-color: #f8f7f7;
    margin: 4px, 4px;
    padding: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.container_11 {
    padding: 20px;
    display: block;
    background-color: #fff;
    width: 50%;
   

}
.headin {
    display: flex;
    align-items: baseline;
    padding: 15px;
}
.redText {
    color:  brown;
    width: 50%;
    font-size: 28px;
    font-family: Georgia;
}
hr {

      width: 50%;
      color: #d1d0d0;
      size: 1px;
}
.blackBox {
    display: inline-flex;
    width: 95%;
    align-items: center;
    height: 30px;
    background: linear-gradient(rgb(87, 86, 86), black);
    color: azure;
    padding: 15px;
    
}
.redText-2 {
    color:  brown;
    font-size: 20px;
    font-family: Georgia;
}
.container_12 {
background-color: azure;
display: inline-flex;

}
.brownUp {
    color: brown;
    text-transform: uppercase;
    font: Verdana;
    text-align: end;
}
.books {
    text-align: end;
    color: gray;
    padding-bottom: 15px;
}
.container_13 {
    background-color: azure;
display: inline-flex;
padding: 15px;
   
}
a {
    
    display: flex;
    text-decoration: none;
    padding: 2px 1px 0;
}
li {
    align-content: flex-start;
}
.abc {
    text-transform: uppercase;
    font-size: 15px;
    font-style: bold;
    font-family: Montserrat;
    font-weight: 80;
    text-align: center;
    padding: 5px;
    border-top: 1px gray ;
    border-top-style: dotted;
}
a {
    color: black;
}
a:hover {
    background-color: rgb(197, 59, 59);
    color: #f8f7f7;
}


.container_14 {
    background-color: azure;
display: inline-flex;
padding: 15px;



}
.abb {
    text-transform: uppercase;
    font-size: 15px;
    font-style: bold;
    font-family: Montserrat;
    font-weight: 80;
    align-content: center;
    padding: 0;
    border-top: 1px gray ;
    border-top-style: dotted;
    margin-block-start: 0em;
    margin-block-end: 0;
}
.blue {
    width: 200px;
    height: 40px;
    color: rgb(4, 69, 109);
    font: Arial;
    font-style: bold ;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 1px solid;
    border-color: #d4d2d2;
    margin-top: -1em;
    margin-bottom: -1em;
    align-items: center;
    justify-content: center;
   
    
}
.blue:link {
    color:rgb(4, 69, 109);
    font: Arial bold;
    

}
.blue:hover {
    background-color: rgb(4, 69, 109);
    color: white;
}

.container_15 {
    width: 600px;
    height: 350px;
    
display: flex;
padding: 15px;
margin-bottom:50px;
}

.scroll-box_2 {
    background-color: beige;
    color: darkgoldenrod;
    text-align: justify;
    padding-left: 150px;
    padding-right: 17px;
    font-family: sans-serif;
    font-size: 14px;
    overflow: auto;
    overflow-x: auto;
    
    
   
}
#four {
    
        position: absolute;
        background: rgb(252, 249, 249);
        background-color: azure;
        border: 1px solid #c7c5c5;
        width: 100px;
        height: 60px;
        padding: 5px;
        margin-top: 150px;
        left: 67px;
        cursor: pointer;
}
 
 #four:active {
    background-color: rgb(218, 218, 218);
    color: white;
 }

 .container_16 {
    display: grid;
    width: 300px;
    height: 300px;
    align: auto;
    border: 1px solid #191919;
    grid-template-columns:  2fr 4fr;
    grid-template-columns:  2fr 3fr;

       justify-content: center;
    grid-gap: 20px;
    padding: 20px;
 }
.box-1 {
    background-color: red;
    border: 1px solid #191919;
    
}
.box-2 {
    background-color: blue;
    border: 1px solid #191919;
    
}
.box-3 {
    background-color: green;
    border: 1px solid #191919;
    height: auto;
}
.box-4 {
    background-color: yellow;
    border: 1px solid #191919;
}