body {
    background-color: rgb(247, 235, 220);
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.container {
    width: 40%;
    display: flex;
    justify-content: center;
    border: 1px solid burlywood;
    background-color: #fff;
}
#block-1 {
    width: 50px;
    height: 30px;
    border: 1px solid #000;
}
#block-2 {
    margin: 20px;
    width: 50px;
    height: 30px;
    background-color: rgb(197, 196, 196);

}
.text-1 {
    width: 400px;
        display: inline-block;
        text-align: justify;
}
.text-2 {
    width: 400px;
        display: inline-block;
        border-left: 3px solid blue;
        border-left-style: dotted;
        padding: 0 0 0 15px;
        text-align: justify;
}

q {
font-size: 15px;
}
.h1 {
    color: rgb(15, 177, 15);
    font-style: bold;
    font-size: 30px;
}
.h2 {
    color: rgb(68, 92, 48);
    font-style: bold;
    font-size: 20px;
}
span {
    font-size: 17px;
}
ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}
.text-3 {
    width: 400px;
        display: inline-block;
        color: orangered;
        background-color: black;
        border: 3px solid red;
        padding: 20px;
        margin-bottom: 20px;
        text-align: justify;

        
}
.containerBox {
    display: flex;
    flex-direction: column;
    }

.box {
    margin: 0;
}
.scroll-box {
    margin: 60px;
    background-color: beige;
    border-top: 5px double green;
    border-bottom: 5px double green;
    color: darkgoldenrod;
    text-align: justify;
    padding-left: 17px;
    padding-right: 17px;
    font-family: sans-serif;
    font-size: 14px;
    overflow-y: scroll;
    width: 400px;
    height: 80px;
    text-indent: 15px;
    letter-spacing: 2px;
}

.container_9 {
    width: 600px;
    background-color: white;
    border-left: 2px solid rgb(218, 215, 215);
    padding: 20px;
    margin: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    color: #5c5b5b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    background-color: rgb(236, 236, 230);
    border: 1px solid rgb(212, 210, 210);
    border-radius: 2px;
    padding: 10px;

}
.bem {
    color: #5c5b5b; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    background-color: rgb(236, 236, 230);
    border: 1px solid rgb(212, 210, 210);
    border-radius: 2px;
    padding: 5px;
}
.bem {
    display: inline-block;
}
.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.container_10 {
    width: 600px;
    background-color: white;
    padding: 20px;
    margin: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(141, 141, 139);
    
}
.chart {
    display: inline-block;
    background-color: #f8f7f7;
    color: #5c5b5b; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8f7f7;
    padding: 5px;
}
.code {
    display: flexbox;
    width: 100%;
    
    color: #5c5b5b; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8f7f7;
    text-align: justify;
    padding: 0;
    margin: 0;
}
.scrollCode {
    width: 80%;
    padding: auto;
    background-color: #f8f7f7;
    margin: 4px, 4px;
    padding: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.container_11 {
    padding: 20px;
    display: block;
    background-color: #fff;
    width: 600px;
    margin: 30px;

}
.headin {
    display: flex;
    align-items: baseline;
    padding: 15px;
}
.redText {
    color:  brown;
    width: 50%;
    font-size: 28px;
    font-family: Georgia;
}
hr {

      width: 50%;
      color: #d1d0d0;
      size: 1px;
}
.blackBox {
    display: inline-flex;
    width: 95%;
    align-items: center;
    height: 30px;
    background: linear-gradient(rgb(87, 86, 86), black);
    color: azure;
    padding: 15px;
    
}
.redText-2 {
    color:  brown;
    font-size: 20px;
    font-family: Georgia;
}
.container_12 {
background-color: azure;
display: inline-flex;
margin: 30px;


}
.brownUp {
    color: brown;
    text-transform: uppercase;
    font-family: Georgia;
    text-align: end;
}
.books {
    text-align: end;
    color: gray;
    padding-bottom: 15px;
}
.container_13 {
    background-color:white;
display: inline-flex;
padding: 15px;
margin: 30px;
 }
a.blue, a.abiturient {
    align-content: flex-start;
    display: flex;
    text-decoration: none;
    padding: 2px 1px 0;
    color: black;
}
.abiturient:hover {
    background-color: rgb(197, 59, 59);
    color: #f8f7f7;
}

.abc {
    text-transform: uppercase;
    font-size: 15px;
    font-style: bold;
    font-family: Montserrat;
    font-weight: 80;
    text-align: center;
    padding: 5px;
    border-top: 1px gray ;
    border-top-style: dotted;

}


.container_14 {
    background-color: white;
display: inline-flex;
padding: 15px;
margin: 30px;



}
.abb {
    
    text-transform: uppercase;
    font-size: 15px;
    font-style: bold;
    font-family: Montserrat;
    font-weight: 80;
    align-content: center;
    padding: 0;
    border-top: 1px gray ;
    border-top-style: dotted;
    margin-block-start: 0em;
    margin-block-end: 0;
}

.blue {
    width: 200px;
    height: 40px;
    color: rgb(4, 69, 109);
    font: Arial;
    font-style: bold ;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 1px solid;
    border-color: #d4d2d2;
    margin-top: -1em;
    margin-bottom: -1em;
    align-items: center;
    justify-content: center;
   
    
}
.blue:link {
    color:rgb(4, 69, 109);
    font: Arial bold;
    

}
.blue:hover {
    background-color: rgb(4, 69, 109);
    color: white;
}

.container_15 {
    width: 600px;
    height: 350px;
    display: flex;
    padding: 15px;
    margin: 15px;
}

.scroll-box_2 {
    background-color: beige;
    color: darkgoldenrod;
    text-align: justify;
    padding-left: 150px;
    padding-right: 17px;
    font-family: sans-serif;
    font-size: 14px;
    overflow: auto;
    overflow-x: auto;
}

.box-3 {
    
        position: absolute;
        background: rgb(252, 249, 249);
        background-color: azure;
        border: 1px solid #c7c5c5;
        width: 100px;
        height: 60px;
        padding: 5px;
        margin-top: 150px;
        left: 67px;
        cursor: pointer;
}
 
 #four:active {
    background-color: rgb(218, 218, 218);
    color: white;
 }

 .container_16 {
    display: grid;
    width: 300px;
    height: 300px;
    align-items: auto;
    border: 1px solid #191919;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
    margin: 30px;
 }
.red_box {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: red;
    border: 1px solid #191919;
    
}
.blue_box {
    grid-row: 1/3;
    grid-column: 2/4;
    background-color: blue;
    border: 1px solid #191919;
    
}
.green_box {

    grid-row: 2/4;
    grid-column: 1/2;
    background-color: green;
    border: 1px solid #191919;
    height: auto;
}
.yel_box {
    grid-row: 3/4;
    grid-column: 2/4;
    background-color: yellow;
    border: 1px solid #191919;
}
.container_17 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    height: 400px;
    margin: 30px;
    background-color: #191919;
}
.webContent {
    display: grid;
    height: 100%;
    margin: auto;
    width: 400px;
    background-color: #d4d2d2;
    grid-template-rows: 20% 1fr 20%;
    
}
.headerW {
    width: 100%;
    background-color: #5c5b5b;
    grid-row: 1/2;
    text-align: center;
    font-size: 35px;
    letter-spacing: 6px;
    font-style: oblique;
    padding-top: 8px;
    
}
.maincontainer {
    display: grid;
    grid-row: 2/3;
    width: 100%;
    background-color: #bdb5b5;
    grid-template-columns: 30% 1fr;
    
}
.footer {
    display: block;
    grid-row: 3/4;
    width: 100%;
    background-color: #7eec10;
    text-align: center;
    font-size: 35px;
    letter-spacing: 6px;
    font-style: oblique;
    padding-top: 10px;
    
}
.sidebar {
    background-color: antiquewhite;
    text-align: center;
    font-size: 25px;
    
    font-style: oblique;
    padding-top: 10px;
    }
.contentBox {
    text-align: center;
    font-size: 25px;
    
    font-style: oblique;
    padding-top: 10px;
}

.container_18 {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 150px);
    background-color: #191919;
    gap: 15px;
    padding: 15px;
    margin: 30px;
}
.grays {
    width: 150px;
    height: 150px;
    background-color: #e99c9c;
}

.container_19 {
    display: grid;
    grid-template-columns: 2% 5% 15% 25% 45%;
    width: 50%;
    height: 130px;
background-color: skyblue;
padding: 30px;
gap: 3px;
    
}

.blockflex {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
background: #fffdfd;
width: 90%;
}

.favorite-styled {
    color: #f8f7f7;
    width: 200px;
    height: 40px;
    background-color: rgb(138, 158, 105);
    border: none; 
    border-radius: 5px;
    box-shadow: 5px 5px rgba(243, 117, 117, 0.5);
}

.container_21 {
   display: flex;
   justify-content: center;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: #697e54;

}
.circle {
    width: 40px;
    height: 40px;
    background-color: black;
    border: 15px solid orange;
  border-radius: 50%;
}

.container_22 {
    margin: 30px;
}

.container_22 {
    display: flex;
    align-items: end;
}
.triangle-top {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #0d4e3e;
}
.triangle-bottom {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 70px solid #0d4e3e;
}

.container_23 {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
    
}

.square-1 {
	width: 90px;
	height: 90px;
	background: orchid;
    border-radius: 5px;
    transform: rotate(45deg);
}

.square-2 {
	width: 60px;
	height: 60px;
	background: green;
    border-radius: 5px;
    transform: rotate(45deg);
}
.square-3 {
	width: 30px;
	height: 30px;
	background: brown;
    border-radius: 5px;
    transform: rotate(45deg);
}

.container_24 {
    width: 300px;
    display: flex;
    align-items: stretch;
    padding: 20px;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.xbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: auto;
    height: auto;
}
.pixel1 {
    width: 15px;
    height:15px;
    background-color: #000;
    grid-column: 1/2;
    grid-row: 1/2;
}
.pixel2 {
    width: 15px;
    height:15px;
    background-color: #000;
    grid-column: 3/4;
    grid-row: 1/2;
}
.pixel3 {
    width: 15px;
    height:15px;
    background-color: #000;
    grid-column: 2/3;
    grid-row: 2/3;
}
.pixel4 {
    width: 15px;
    height:15px;
    background-color: #000;
    grid-column: 1/2;
    grid-row: 3/4;
}
.pixel5 {
    width: 15px;
    height:15px;
    background-color: #000;
    grid-column: 3/4;
    grid-row: 3/4;
}
.smart {
    display: flex;
}

.container_25 {
    width: auto;
    height: 25px;
    background-color: #5c5b5b;
    border-top: 6px solid #970606;
    border-bottom-left-radius: 4px;
    margin: 30px;
    padding: 5px;
}
nav ul {
    color: #606060;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li{
    display: inline-block;
    width: 10%; 
      margin-right: -4px;
}

nav a {
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    height: 40%; /* vertically center */
    line-height: 40%; /* vertically center */
    color: #fff;
}

nav a:hover {
    color: #5f0008;
  }
   
  nav a.active {
    background-color: #eee;
    color: #970606;
    cursor: default;
  }

  